<section class="auth">
  <div class="auth__error" *ngIf="error">
    <h4>Code: {{error.status}}</h4>
    <h4>Status: {{error.message}}</h4>
  </div>
  <form class="auth__container" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="auth__title">
      <h2>SIGN IN</h2>
    </div>
    <div class="auth__subtitle">
      <span>Complete t<p>he</p> task backw<p>ards.</p></span>
    </div>
    <input formControlName="email" placeholder="Write email">
    <app-error-message [control]="authForm.get('email')"></app-error-message>
    <div class="auth__container--line">
      <hr>
    </div>
    <input formControlName="password" type="password" placeholder="Write password">
    <app-error-message [control]="authForm.get('password')"></app-error-message>
    <div class="auth__container--line">
      <hr>
    </div>
    <div class="auth__container--boxb">
      <button class="auth__container--button">Sign in</button>
    </div>
    <div class="auth__welcome">
      <span>WELCOME</span>
    </div>
  </form>
</section>
