.auth {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background: #3F96DF;
  align-items: center;

  &__title {
    position: absolute;
    width: 60%;
    top: 2%;
    right: -100px;
    padding: 20px 0 20px 14%;
    background: rgba(133, 187, 233, 0.42);


    h2 {
      font-size: 48px;
      font-weight: lighter;
      margin: 0;
      color: #3F96DF;
    }

  }

  &__subtitle {
    position: absolute;
    width: 650px;
    height: 231px;
    top: 1%;
    left: -445px;
    span {
      color: white;
      font-size: 63px;
      line-height: 125.9%;
      letter-spacing: 0.12em;
      font-weight: bold;

      p {
        margin: 0;
        display: inline;
        color: #3F96DF;
      }
    }
  }

  &__welcome {
    position: absolute;
    bottom: -69px;
    left: -658px;

    span {
      color: rgba(255, 255, 255, 0.21);
      font-size: 120px;
      font-weight: bold;
      letter-spacing: 0.205em;
    }
  }

  &__container {
    position: relative;
    width: 35%;
    height: 75%;
    margin: 0 100px;
    padding: 0 70px;
    z-index: 10;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;

    &--boxb {
      display: flex;
      justify-content: center;
    }

    input {
      font-size: 30px;
      padding: 10px;
      border: 2px solid #3F96DF;
      border-radius: 3px;
    }

    &--button {
      padding: 0 10%;
      font-size: 20px;
    }

    &--line {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      hr {
        width: 80%;
        margin: 0;
        border: 0;
        border-bottom: 1px solid #E0E0E0;
      }
    }
  }

  &__error {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 5px;

    h4 {
      margin: 0 5px;
    }

  }
}
