<section class="dashboard">
  <button (click)="logout()">LogOut</button>
  <div *ngFor="let dashboard of dashboards" class="dashboard__container">
    <div>Name: {{dashboard.name}}</div>
    <div>Description: {{dashboard.description}}</div>
  </div>
</section>
