.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #3F96DF;
  min-height: 100vh;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__container {
    background: white;
    margin: 10px;
    padding: 10px;
  }
}
